html{
  font-family: Helvetica;
}

h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("../Images/pattern.jpeg")
}

h2{
  color: white;
}

.mediumspringgreen {
  background-color: mediumspringgreen;
}

.lightcoral{
  background-color: lightcoral;
}

.skyblue{
  background-color: skyblue;
}

span {
  font-weight: bold;
  color: blue;
}
